*{
  margin: 0px;
  padding: 0px;
}

body{
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100vw;
  background: brown;
  height: 3rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.contenedor {
  text-align: center;
  margin-top: 5rem;
}

.formulario {
  background: #fff;
  height: 13rem;
  width: 25rem;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -2px 2px 18px 3px;
}

.error {
  border-radius: 1rem;
  background: #ee2f2f;
  width: 12rem;
  margin: 2px;
  position: absolute;
  margin-left: 107px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

label.label {
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

select.select {
  -webkit-appearance: none;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
  border-radius: 7px;
  text-align-last: center;
  height: 1.5rem;
}

.boton {
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    background: #123E59;
    border: none;
    width: 6rem;
    height: 2rem;
    transition: 1s;
}

.boton:hover{
  cursor: pointer;
  background: #196FA6;
  transition: 1s;
}

.casos {
  background: #ffff;
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 13px;
  box-shadow: -2px 2px 18px 3px;
}

.casos h3 {
  margin-bottom: 2px;
}

.casos h5 {
  margin-bottom: 8px;
}

p {
  text-align: left;
  margin-bottom: 4px;
}

@media (max-width:430px){
  .formulario{
    width: 19rem;
  }

  .casos{
    margin-top: 1rem;
    width: 13rem;
  }

  .casos p{
    margin-top: 1rem;
  }
  .error{
    margin-left: 59px;
  }
}

